@page "/alumnos/editar/{AlumnoId:int}" 
@inject NavigationManager navigationManager
@inject IHttpService http

<h2>Modificar Alumno</h2>

<AlumnoFormulario onValidSubmit="GrabarModificacion" Alumno="alumno" onCancel="Cancelar"/>

@code {
    private Alumno alumno;
    [Parameter] public int AlumnoId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await MostrarAlumno();
    }
    private async Task MostrarAlumno()
    {
        var httpRespuesta = await http.Get<Alumno>($"api/Alumnos/{AlumnoId}");
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        else
        {
            alumno = httpRespuesta.Respuesta;
        }
    }


    private async Task GrabarModificacion() //Metodo para agregar un pais.
    {
         var httpRespuesta = await http.Put<Alumno>($"api/Alumnos/{AlumnoId}", alumno);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        navigationManager.NavigateTo("/alumnos");
        
    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/alumnos");
    }
}
