@page "/alumnos/crear"
@inject NavigationManager navigationManager
@inject IHttpService http
<h2>Nuevo Alumno</h2>

<AlumnoFormulario onValidSubmit="GrabarNuevo" Alumno="alumno" onCancel="Cancelar"/>
@code {
    private Alumno alumno = new();
    private async Task GrabarNuevo() //Metodo para agregar un pais.
    {
        //Console.WriteLine($"Graba{alumno.NombreCompletoAlumno}");
        var httpRespuesta = await http.Post<Alumno>("api/Alumnos", alumno);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        navigationManager.NavigateTo("/alumnos");
        //Alumnado.BD.Data.Entidades.Alumno alumno = new();
        //alumno.NombreCompletoAlumno = NomAlumno;
        //alumno.DNI = DniAlumno;
        //alumnos.Add(alumno);
        //Cancelar();
    }
    private void Cancelar()
    {
         navigationManager.NavigateTo("/alumnos");
    }
}
